# OS files
.DS_Store
Thumbs.db
Desktop.ini

# Editor & IDE
.vscode/
.idea/
*.swp
*.swo

# Node / NPM
node_modules/
npm-debug.log*

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/

# Temporary files
*.tmp
*.temp
.temp/
